.footer {
	&__container {
		display: flex;
		justify-content: space-between;

		@media (max-width: $md2+px) {
			flex-wrap: wrap;
		}
		@include maxwidth(600) {
			flex-direction: column;
		}
	}

	&__item {
		flex: 0 0 33.33%;
		margin-bottom: 10px;
		@media (max-width: $md2+px) {
			&:nth-child(3n + 1) {
				flex: 0 0 100%;
			}
			flex: 0 0 50%;
		}

		@include maxwidth(600) {
			flex: auto;
		}
	}

	&__link {
		color: #787878;

		font-size: 14px;
		line-height: 200%;
		text-decoration-line: underline;
		@media (max-width: $md3+px) {
			font-size: 13px;
		}
	}
}
