.tariffs {
	padding-top: calc(204px / 2);
	padding-bottom: calc(250px / 2);
	@media (max-width: $md3+px) {
		padding-top: calc(180px / 2);
		padding-bottom: calc(150px / 2);
	}
	@media (max-width: $md4+px) {
		padding-top: calc(100px / 2);
		padding-bottom: calc(100px / 2);
	}
	&__container {
	}

	&__heading {
		margin-bottom: 50px;
		@media (max-width: $md2+px) {
			margin-bottom: 25px;
		}
	}

	&__table {
		border-collapse: collapse;
		width: 100%;
		@media (max-width: $md1+px) {
			display: none;
		}
	}

	&__tariff {
	}
	&__body-mobile {
		display: none;
		@media (max-width: $md1+px) {
			display: flex;
		}
		@media (max-width: $md2+px) {
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}
		@media (max-width: $md3+px) {
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: stretch;
		}
	}
}

.tariff {
	text-align: left;

	@media (max-width: $md1+px) {
		flex: calc(33.33% - 60px);

		&:not(:last-child) {
			margin-right: 30px;
		}
		&--desc {
			display: none !important;
		}
	}

	@media (max-width: $md2+px) {
		flex: 0 0 calc(50% - 30px);
		&:not(:last-child) {
			margin-right: 0;
		}
		&:nth-child(2) {
			margin: 0px 30px 0px 0px;
		}
		&:not(:last-child) {
			margin-bottom: 60px;
		}
	}
	@media (max-width: $md3+px) {
		flex: auto;
		display: flex;
		flex-direction: column;

		&:nth-child(2) {
			margin: 0px 0px 0px 0px;
		}
		&:not(:last-child) {
			margin-bottom: 60px;
		}
	}
	&__row {
		transition: background-color 0.3s ease;
		&:not(:first-child) {
			&:not(:last-child) {
				&:not(:nth-last-child(2)) {
					border-bottom: 1px solid rgba(38, 38, 38, 0.1);
				}
				@media (min-width: $md3+px) {
					&:hover {
						background-color: rgba(242, 242, 242, 0.2);
						transition: background-color 0.3s ease;
					}
					&:focus {
						background-color: rgba(242, 242, 242, 0.2);
						transition: background-color 0.3s ease;
					}
				}
			}
		}
	}
	&__name {
		margin-bottom: 8px;

		font-size: 17px;
		line-height: 24px;
		@media (max-width: $md2+px) {
			font-size: 16px;
		}
	}

	&__price {
		color: $font-color;
		margin-bottom: 16px;

		font-size: 40px;
		font-family: $ff;
		font-weight: 400;
		line-height: 150%;
		@media (max-width: $md2+px) {
			font-size: 25px;
		}
	}
	&__price-info {
		color: #a1a1a1;

		font-size: 14px;
		line-height: 22px;
	}

	&__list {
		margin-bottom: 13px;
		@media (max-width: $md3+px) {
			margin-bottom: 53px;
		}
	}

	&__item {
		width: 25%;
		padding: 20px 0;

		font-size: 17px;
		line-height: 14px;
		svg {
			width: 20px;
			height: 20px;
		}
		@media (max-width: $md1+px) {
			position: relative;

			width: auto;
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				right: 20px;

				width: 20px;
				height: 20px;

				background: url(../../img/icon-done.svg) center/cover no-repeat;
				transform: translate(0, -50%);
				@media (max-width: $md3+px) {
					right: 130px;
				}
				@media (max-width: $md4+px) {
					right: 36px;
				}
			}
		}
		&--lock {
			&::after {
				background: url(../../img/icon-lock.svg) center/cover no-repeat;
			}
		}
		@media (max-width: $md3+px) {
			padding: 13px 0;
		}
	}

	&__link {
		min-width: 232px;

		padding: 18px 15px;
		margin-right: 68px;
		@media (max-width: $md3+px) {
			min-width: 272px;
			align-self: center;

			padding: 23px 25px;
			margin-right: 0;

			font-size: 16px;
		}
	}
}
