// Settings
html {
	height: 100%;
	width: 100%;

	scroll-behavior: smooth;

	font-size: 100%;
	font-size: 14px;

	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

	@extend %reset;
}

body {
	display: flex;
	flex-direction: column;

	height: 100%;
	width: 100%;
	overflow-x: hidden;

	background: url(../img/bg.jpg) 0 0 / cover no-repeat, url(../img/bg.png) 0 / 250px repeat;
	background-color: $pearl-bush-color;
	color: $font-color;

	font-family: $ff;
	font-weight: 400;
	font-size: $fz-text;

	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	@media (max-width: $md3+px) {
		background: url(../img/tablet-bg.jpg) 0 0 / 100% no-repeat;
		background-color: $pearl-bush-color;
	}
	@media (max-width: $md4+px) {
		background: url(../img/mobile-bg.jpg) 0 0 / 100% no-repeat;
		background-color: $pearl-bush-color;
	}
}

header {
	flex: 0 0 auto;
}

main {
	flex: 1 0 auto;
}

footer {
	flex: 0 0 auto;
}

.lock {
	overflow: hidden;
}

.ios-lock {
	overflow: hidden;
	position: relative;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.container {
	max-width: $maxWidthContainer + 30px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

@media (max-width: $md2+px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: $md4+px) {
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (max-height: $md4+px) and (max-width: 1023px) and (orientation: landscape) {
	.container {
		padding-left: 50px;
		padding-right: 50px;
	}
}
// -- \\
