$black-color: #262626;
$orange-color: #f2994a;
$orange-dark-color: #e07d2f;
$pearl-bush-color: #e9dcd7;
$white-color: #fff;
$purpule-color: #4425bd;
$font-color: #262626;

$fz-heading: 13px;
$fz-text: 18px;

$ff: "Inter", sans-serif;
$ff2: "Inter", sans-serif;
// $ff2: "Montserrat", sans-serif;

$minWidth: 320;
$maxWidth: 1600; // Разрешение макета
$maxWidthContainer: 1200; // Разрешение контейнера

$md1: $maxWidthContainer + 15; //desktop
$md2: 991.98; // Tablet
$md3: 767.98; // Mobile #1
$md4: 479.98; // Mobile #2
